body {
	font-family: Helvetica;
}

h1 {
	
}

.nav{
	background-color:#293137;
}

.menu {
	color: #fff;
	padding-top: 40px;

}
	
.menu > li {
	font: 20px;
	padding: 0 10px 0 0;
}

header{
	background-image: url('../images/header.jpg');
	height: 700px;
	width: 100%;
	background-position: center center;
}	

.header-title {
	background-color: #2f3539;
	color: #fff;
	font-size: 65px;
	font-weight: bold;
	margin: auto;
	text-transform: uppercase;
	width: 700px;
}

.header-subtitles {
	background-color: #2b8bd2;
	color: #fff;
	font-size: 30px;
	font-weight: 100;
	margin: 50px auto 0 auto;
	width: 450px;
}

.call-to-action {
	background-color: #e25b40;
	height: 200px;
	width: 100%;
}

.section-title {
	font-size: 30px;
	font-weight: 100;
	text-transform: uppercase;
}

.into > p {
	color: #fff;
}

.into-right {
	float: left;
	width: 50%;
}

.call-button {
	color: #fff;
	border: 5px solid #ffff;
	font-size: 30px;
	padding: 10px 30px;
	text-transform: uppercase;
	
}